.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.waterfall-shapes {
  /* background: white; */
  background: rgb(38, 35, 36);

  /* Dark */
  background: -webkit-radial-gradient(ellipse at top, rgb(41, 38, 44), rgb(38, 35, 36));
  background: radial-gradient(ellipse at top, rgb(41, 38, 44), rgb(38, 35, 36));

  /* Lightish blue */
  /* background: -webkit-radial-gradient(ellipse at top, #466a87, #2f597d);
  background: radial-gradient(ellipse at top, #466a87, #2f597d); */
}